body {
    font-family: sans-serif;
    overflow-x: hidden;
    /* para que nada sobresalga en horizontal */
}

.wrapper {
    max-width: 1000px;
    margin: 0 auto;
    padding: 32px;
}

/* a partir de aqui el CSS de las animaciones */

@keyframes anim-fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1
    }
}

@keyframes anim-up {
    from {
        opacity: 0;
        transform: translateY(100px);
    }

    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes anim-down {
    from {
        opacity: 0;
        transform: translateY(-100px);
    }

    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes anim-left {
    from {
        opacity: 0;
        transform: translateX(100px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes anim-right {
    from {
        opacity: 0;
        transform: translateX(-100px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.anim-up,
.anim-down,
.anim-left,
.anim-right,
.anim-fade-in {
    animation-duration: 1s;
    animation-delay: 0.5s;
    animation-fill-mode: both;
}

.anim-up {
    animation-name: anim-up;
}

.anim-down {
    animation-name: anim-down;
}

.anim-left {
    animation-name: anim-left;
}

.anim-right {
    animation-name: anim-right;
}

.anim-fade-in {
    animation-name: anim-fade-in;
}

.anim-pause-0 {
    animation-delay: 0s;
}

.anim-pause-1 {
    animation-delay: 0.4s;
}

.anim-pause-2 {
    animation-delay: 0.8s;
}

.anim-pause-3 {
    animation-delay: 1.2s;
}

.anim-pause-4 {
    animation-delay: 1.6s;
}

.anim-pause-5 {
    animation-delay: 2s;
}

.anim-pause-6 {
    animation-delay: 2.4s;
}

.anim-pause-7 {
    animation-delay: 2.8s;
}

.anim-pause-8 {
    animation-delay: 3.2s;
}

.anim-pause-9 {
    animation-delay: 3.6s;
}

.anim-pause-10 {
    animation-delay: 4s;
}

.anim-pause-11 {
    animation-delay: 4.4s;
}

.anim-pause-12 {
    animation-delay: 4.8s;
}

.anim-pause-13 {
    animation-delay: 5.2s;
}

.anim-pause-14 {
    animation-delay: 5.6s;
}
.anim-pause-15 {
    animation-delay: 6s;
}


.paused * {
    animation-play-state: paused;
}