#galeria {
    margin: 1rem auto;
    width: 100%;
    max-width: 1600px;
    column-count: 3;
    position: relative;

}

@media (max-width: 1600px) {
    #galeria {
        columns: 2;
    }

}

/* Móviles en horizontal o tablets en vertical */

@media (max-width: 1100px) {
    #galeria {
        columns: 1;
    }

}

/* Móviles en vertical */

@media (max-width: 680px) {
    #galeria {
        columns: 1;
    }
}


.categoria {
    width: 500px;
    border-radius: 10px;
    background: #111;
    margin: 10px;
    position: relative;
    overflow: hidden;
}

.categoria:hover {
    box-shadow: 0px 0px 12px white;
}

.marco_imagen {
    position: relative;
    width: 60%;
    top: 0px;
    left: 40%;
    height: 200px;
}

.degradado_imagen {
    position: absolute;
    width: 60%;
    top: 0px;
    right: 0px;
    height: 200px;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), #111);
}

.marco_titulo {
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}