#galeria {
    margin: 1rem auto;
    width: 100%;
    max-width: 1600px;
    column-count: 5;

}

@media (max-width: 1140px) {
    #galeria {
        columns: 3;
    }

}

/* Móviles en horizontal o tablets en vertical */

@media (max-width: 920px) {
    #galeria {
        columns: 2;
    }

}

/* Móviles en vertical */

@media (max-width: 680px) {
    #galeria {
        columns: 1;
    }
}

.itemCategoria {
    width: 100%;
    height: 100%;
    position: relative;
    padding: 4px;
}

.itemCategoria .image {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.itemCategoria .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    cursor: pointer;
    transition: .5s ease-in-out;
}

.itemCategoria:hover .image img {
    transform: scale(1.03);
}

.img-overlay {
    align-items: center;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    height: 100%;
    justify-content: center;
    left: 0;
    position: absolute;
    opacity: 0;
    top: 0;
    transition: opacity 0.50s;
    width: 100%;
}

.img-overlay:hover {
    opacity: 1;
}

.tituloCategoria {
    color: rgb(238, 238, 238);
    font-weight: 600;
    font-size: 40px;
    text-align: center;
    text-decoration: none;
}