@font-face {
    font-family: 'Dosis';
    src: url(/fonts/Dosis/Dosis-VariableFont_wght.ttf) format('truetype');
}

body {
    background-color: darkgray;
}



.navbar {
    position: fixed !important;
    width: 100%;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 1)), to(rgba(0, 0, 0, .25)));
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 1), rgba(0, 0, 0, .25));
    filter: progid:DXImageTransform.Microsoft.gradient(gradientyype=0,
            startColorstr='#0000ff00', endColorstr='#0000ff00');
    -moz-filter: progid:DXImageTransform.Microsoft.gradient(gradientyype=0,
            startColorstr='#0000ff00', endColorstr='#0000ff00');
    border-bottom: 1px solid gray;
    color: white;
    font-family: 'Dosis' !important;
    font-size:18px;
    letter-spacing: 0.1em;
    a {
        color: white;
        i {
            font-size: 30px;
            margin: 0 5px;
        }
    }
}

.nav-link {
    color: white !important;
}

.navbar .navbar-brand img {
    width: 200px;
}

.navbar-toggler-icon {
    width: 2.5em !important;
    height: 2.5em !important;
}

.navbar-toggler {
    --bs-navbar-toggler-focus-width: 0x !important;
    border: 0px !important;
}

.footer {
    border-top:1px solid gray;
    background: rgb(200, 200, 200);
    background: -moz-linear-gradient(180deg, rgba(200, 200, 200, 1) 0%, rgba(125, 125, 125, 1) 30%, rgba(100, 100, 100, 1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(200, 200, 200, 1) 0%, rgba(125, 125, 125, 1) 30%, rgba(100, 100, 100, 1) 100%);
    background: linear-gradient(180deg, rgba(200, 200, 200, 1) 0%, rgba(125, 125, 125, 1) 30%, rgba(100, 100, 100, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#c8c8c8", endColorstr="#646464", GradientType=1);
    font-family: 'Dosis' !important;
    width: 100%;
    padding: 10px;
    color: white;
    line-height: 1.8em;
    img {
        width: 100%;
        max-width: 300px;
    }
}

.copyright {
    width: 100%;
    background-color: black;
    padding: 12px;
    min-height: 20px;
    text-align: center;
}

.products{
    padding: 40px 10px 20px 40px;
    font-family: 'Dosis' !important;
    line-height: 1.8em;
    width: 100%;
    background: #3e4a57;
    text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff;
    z-index:-2;
}

.contact{
    padding: 40px 10px 20px 40px;
    font-family: 'Dosis' !important;
    width: 100%;
    background-color:rgb(87, 87, 87);
    color: white;
    z-index:2;
}

.dropdown-item{
    color: #111!important;
}